/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --ff-primary: "Big Shoulders Display", sans-serif;
    --ff-secondary: "Lexend Deca", sans-serif;

    --fs-100:0.9375rem;
    --fs-150: 1rem;
    --fs-200: 1.5rem;

    
  }

  body{

    display: grid;
    height: 100vh;
  
    font-size: var(--fs-100);
    font-family: var(--ff-secondary);
  }

  @media(min-width: 700px){
    body{
        place-content: center;
    }
  }

 p{
   line-height: 2;
 }
  .c-card{
    padding: 2.5rem;
    color: var(--very-light-gray);
    
  }

  @media(min-width: 700px){
   .l-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 920px;
   }
  }

   .c-card>*:not(:first-child, :last-child){
    margin-bottom: 1.56rem
   }

  .c-card__icon{
    margin-bottom: 2.18rem;
  }

  .c-card__title{
    font-family: var(--ff-primary);
    font-size: 2.5rem;
  }

  .c-button{
    padding: 0.7rem 1.96rem 0.75rem;
    border: none;
    border-radius: 100vw;
    background-color: var(--very-light-gray);
    cursor:pointer;
  }

  .c-button--sedans{
    color:var(--bright-orange);
  }

  .c-button--suvs{
    color:var(--dark-cyan);
  }

  .c-button--luxury{
    color:var(--very-dark-cyan);
  }

  .c-card--sedans{
    background-color: var(--bright-orange);
  }

  .c-card--suvs{
    background-color: var(--dark-cyan);
  }

  .c-card--luxury{
    background-color: var(--very-dark-cyan);
  }